nav{
  display: flex;
  height: 47px;
  background-color: rgb(213, 71, 71);
  color: white;
  align-items: center;
  justify-content: center;
}

nav > i{
  margin: 0 4px;
}

.card{
  display: flex;
  margin: 15px 10px;
  max-width: 500px;
  align-self: center;
}

.card-img > img{
  float: left;
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.card-info{
  margin: 0 12px;
}

.card-info > i{
  color: red;
  font-size: 12px;
}

.country{
  font-size: 10px;
  color: rgb(72, 71, 71);
  letter-spacing: 1px;
}

.map-url{
  margin-left:15px;
  font-size: 10px;
}

.map-url > a{
  color: gray;
}

.name{
  margin: 2px 1px 3px;
}

.date{
  margin: 5px 0 0;
  font-size: 10px;
}

.description{
  font-size: 11px;
  color: gray;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App{
  background-color: aliceblue;
}
